* {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}

body {
  overflow-x: hidden;
}
header {
  width: 100vw;
  height: 100vh;
}
nav img {
  height: 100%;
  width: auto;
  object-fit: contain;
  margin-left: 1.5em;
}
nav h2 {
  font-family: sans-serif;
  font-size: 1.2em;
  cursor: pointer;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 11%;
  width: 100%;
  box-sizing: border-box;
  background-color: transparent;
  padding: 0.8em 1.5em;
  position: absolute;
  z-index: 1;
}
.nav-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}
.fa-solid {
  font-size: 1.2em;
  cursor: pointer;
}

.effect1 {
  position: absolute;
  left: 0;
  top: 4em;
}
.effect2 {
  position: absolute;
  right: -3.5em;
  bottom: 3.7em;
  z-index: 3;
}
.effect3 {
  position: absolute;
  left: 0;
  bottom: 4.1em;
  /* z-index: 3; */
}
.effect4 {
  position: absolute;
  right: -3em;
  top: 4em;
  z-index: 6;
}
.effect5 {
  position: absolute;
  top: 0;
  right: 5em;
}

.main_left {
  width: 50%;
  height: 100%;
  background-color: #e17bb7;
  position: relative;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.image {
  height: 30rem;
  width: 33rem;
}
.footer_main {
  background-color: transparent;
  height: 15%;
  width: 100%;
  position: fixed;
  bottom: 0%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.2em 1.8em;
  box-sizing: border-box;
}

.footer_left {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.footer_right {
  font-size: 1.2em;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.footer_right i {
  font-size: 1.5rem;
}
.main_right {
  position: relative;

  width: 50%;
  height: 100%;
  background-color: white;
  font-family: sans-serif;
  padding: 5em 7em;
  box-sizing: border-box;
}
.main {
  height: 100%;
  width: 100%;
  display: flex;
  overflow-x: hidden;
}
.banner {
  height: 100vh;
  width: 100vw;
  background-image: url(./media/1713362537.3386_Il_Biscotto-Muscovado-e-Cannella_Taglio-per-sito.jpg);
  background-size: cover;
  background-attachment: fixed;
  box-sizing: border-box;
}
.para1 {
  margin-top: 3.5em;
  margin-bottom: 1em;
}
.main_right h1 {
  font-size: 3.6em;
}
.para {
  margin-top: 0.6em;
  margin-bottom: 1.2em;
}

.img1 {
  height: 10em;
  width: 10em;
}
.main_2 {
  margin-top: 1.8em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button1 {
  outline: none;
  padding: 0.8em;
  border-radius: 25px;
  color: white;
  background-color: black;
  font-size: 0.6em;
}
.quant {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
}
/* product */

.product {
  height: 110vh;
  width: 100vw;
  background-color: #fff0e0;
  padding: 80px;
  display: flex;
  align-items: start;
  justify-content: space-evenly;
  box-sizing: border-box;
  gap: 5em;
  font-family: sans-serif;
}
.sect1 {
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 0.5em;
  flex-direction: column;
}
.sect1 h1 {
  font-size: 4em;
}
.sect1_1 {
  width: 100%;
}
.sect2 {
  height: 30em;
  width: 30em;
}
.Energy {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
.Energy1 {
  display: flex;
  gap: 5em;
}

/* product2 */

.section2 {
  height: 100vh;
  width: 100vw;
  padding: 80px;
  box-sizing: border-box;
}
.sect2-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5em;

  font-family: sans-serif;
}
.sect2-1 h1 {
  font-size: 4em;
}
.sect2-p {
  font-weight: bold;
  margin-top: 5.5em;
  margin-bottom: 3em;
}
.sect2-2 {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: start;
  justify-content: center;
  width: 100%;
  height: 40%;
  flex-wrap: wrap;

  margin-bottom: 8em;
}
/* .hove1:hover{
  display: none;
  
}
.hove1:not(:hover){

  background-image: url(./media/hove1-2.png);
} */

.hove1 {
  position: absolute;
  z-index: 1;
  height: 15em;
  width: 15em;
}
.hove1-2 {
  position: absolute;
  display: none;
  left: 5.5em;
  /* top: 3em; */
  height: 15em;
  width: 15em;
  bottom: 0;
  

}
.hove1:hover {
  display: none;
}

.hove1:hover + .item {
  display: block;
  /* transition: 3s; */
  /* transform:translateY(-50%);
  transition: all 3s ease-in-out; */

}





.sect22-2 {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;

  width: 80%;
  height: 40%;
  flex-wrap: wrap;
  grid-gap: 8em;
  margin-left: 10em;
  background-color: white;
}

.box{
  height: 15em;
  width: 15em;
  position: relative;
}
.box:hover .item{
  display: block;
  animation:show 0.5s ease;
}

.hove1 {
  z-index: 1;
  height: 15em;
  width: 15em;
  position: absolute;
}
.hove1-2 {
  display: none;
  left: 2em;
  height: 15em;
  width: 15em;
  top: 0;
 position: absolute;
}
 
.box:hover .hove1{
  display: none;
}
.box:hover .item-1{
  display: block;
  animation:show 0.5s ease;
}

@keyframes show{
  100%{
      transform: translateY(-10%);
  }
}

.sect22-2 {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;

  width: 80%;
  height: 40%;
  flex-wrap: wrap;
  grid-gap: 8em;
  margin-left: 10em;
 background-color: white;
}






/* footer */

.lasttt {
  height: 30em;
  background-color: white;
  width: 100%;
}
.last1 {
  height: 25em;
  width: 100%;
  background-color: black;
  padding: 4em 2.5em;
  box-sizing: border-box;
  display: flex;
  align-items: start;
  justify-content: space-around;
  color: white;
}
.footer-logo {
  width: 13em;
}
.footer-links {
  display: flex;
  align-items: start;
  justify-content: center;
  list-style-type: none;
  gap: 1em;
  flex-direction: column;
}
.footer-links li a {
  text-decoration: none;
  color: white;
  font-size: 0.8em;
  font-weight: bold;
}
.footer-info {
  font-size: 0.8em;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: 0.8em;
}
.google-image {
  height: 6em;
  width: 12em;
  margin-left: 5em;
}

.footer-connect {
  margin-left: 5em;
}
